<div
  style="
    width: 100%;
    /* text-align: center; */
    font-size: 10px;
    border-bottom: 1px solid #d2d0d0;
    padding-bottom: 5px;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    color: #858181;
  "
>
  <!-- <%= title %> -->
  <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px; color: #d2d0d0" border="1">
    <tr>
      <td colspan="2" style="text-align: center; padding: 0.5%">
        <b>PRODUCT QUALITY REVIEW REPORT </b>
      </td>
    </tr>
    <tr>
      <td style="padding: 0.5%">PQR NO.</td>
      <td style="padding: 0.5%">Site/Product Name/From date/To date/Year/0001/R1.0</td>
    </tr>
    <tr>
      <td style="padding: 0.5%">PRODUCT NAME</td>
      <td style="padding: 0.5%">Product 1 FOR INJECTION 6mg/0.5 mL</td>
    </tr>
    <tr>
      <td style="padding: 0.5%">GENERIC NAME</td>
      <td style="padding: 0.5%">
        PEGylated Granulocyte Colony stimulating Factor (PEG GCSF) Injection-6mg /0.6 mL
      </td>
    </tr>
    <tr>
      <td>PRODUCT CODE</td>
      <td style="padding: 0.5%">
        700001494/700002002/700002589/700001530/700001809/700002194/700002627/70000262/700002573/70000546/70000287
      </td>
    </tr>
  </table>
</div>
